<mat-form-field>
  <input matInput placeholder="Termo Procurado" (input)="term$.next($event.target.value)">
</mat-form-field>

<h3>Termo Procurado: {{termoProcurado}}</h3>


  <div class="card center" *ngFor="let item of assuntos; let i = index">
    <div class="container-card" style="text-align: left">
      <h4 style="text-align: center"><b> {{item}}</b></h4>
      <p>{{descricao[i]}}</p>
      <p>Link: {{links[i]}}</p>
    </div>
  </div>


